$white: #fff !default;
$gray: #848484 !default;
$gray-border: #A8A8A8 !default;
$gray-title: #A9A9A9 !default;
$bg-results: #F2F2F2 !default;
$light-green: #75BC97 !default;
$green: #15573F !default;
$dark-green: #0C261C !default;
$orange: #FD9872 !default;

$breakpoint-small: 320px;
$breakpoint-large: 1054px;