.header {    
    background-repeat: no-repeat;
    background-color: $light-green;
    padding-top:2.5rem;

    &__slogan {
        font-size: 2.5rem;
        font-weight: 700;
        color: $white;
        margin-top:2rem;
        width: 16rem;
        line-height: 3rem;
        line-height: 49px;
        position:relative;
        cursor:pointer;

        &::after {
            content: '';
            position: absolute;
            width:5rem;
            height: 3rem;
            background-image:url(/images/icons/arrow-down.svg);
            background-repeat: no-repeat;
            bottom: -4rem;
            left: 0;
        }


    }

    @media (max-width: $breakpoint-large){
        height:37rem;
        background-image:url(/images/hero/mobile/mobile-leaves.png), url(/images/hero/mobile/mobile-plantperson.png);
        background-position: 0 0, center calc(100% - 1rem);
        background-size: 100%, 87%;
    }

    @media (min-width: $breakpoint-large){
        height:32rem;
        background-image:
            url(/images/hero/desktop/left-leaves.png), 
            url(/images/hero/desktop/plantperson.png), 
            url(/images/hero/desktop/right-leaves.png)
        ;
        background-position: -70% 0, calc(100% - 25rem) 0, right 0;
        background-size: contain, contain, contain;
    }

}