body {
    font-family: "Montserrat", sans-serif;
    background-color: $white;
}

.results {
    background-color: $bg-results;
    padding-top:2rem;
    padding-bottom:2rem;

    #btn-top {
        width:100%;
        margin-top: 3.75rem;
    }

    @media (max-width: $breakpoint-large){
        &__noresults {    
            &--pic {
                display: table;
                margin:0 auto;
                padding: 2rem 0 0;
            }    
        }
    }

    @media (min-width: $breakpoint-large){
        padding-top:3rem;
        padding-bottom:3rem;

        &__noresults {
            display:grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 12.5rem;
            align-items: center;

            &--pic img {
                width: 6.5rem;
            }

        }

    }

    &__no-results {
        padding:2rem 0;
        display: table;
        margin: 0 auto;
    }

    @media (max-width: $breakpoint-large){

        &__list {
            &--wrap {
                max-width: 100%;

                .results__cards {
                    display: grid;
                    grid-auto-flow: column;
                    column-gap: 1rem;
                }
            }
        }
    }

    &__pick {
        background-image:url(/images/illustrations/pick.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 4rem;
        padding-bottom: 2rem;
        width: 9.125rem;

        @media (min-width: $breakpoint-large){
            width: 9.875rem;
        }

    }

    &__title {
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 3.063rem;
        margin:0;

        &--list {
            color:$dark-green;
        }

        &--empty {
            color:$gray-title;
            margin-bottom: 1rem;
        }

    }

    &__text {
        color:$gray-title;
        margin:0;
        line-height: 1.688rem;
        font-weight: 500;
        width: 14rem;
    }

    &__cards {
        list-style:none;
        padding:0;

        @media (max-width: $breakpoint-large){
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100%;
        }

        @media (min-width: $breakpoint-large){
            display: grid;
            grid-template-areas:
                "first first second third"
                "first first fourth fifth"
                "sixth seventh eighth ninth"
            ;
            gap: 1.563rem;
            justify-content: start;
        }

        &--item {
            background-color:$white;
            border-radius:5px;
            position:relative;

            @media (max-width: $breakpoint-large){    
                width:16.125rem;
                height:20rem;    
            }

            @media (min-width: $breakpoint-large){
                width:12.875rem;
                height:15.15rem;    

                &.first {
                    grid-area: first;
                }
    
                &.second {
                    grid-area: second;
                }
    
                &.third {
                    grid-area: third;
                }
    
                &.fourth {
                    grid-area: fourth;
                }
    
                &.fifth {
                    grid-area: fifth;
                }
    
                &.sixth {
                    grid-area: sixth;
                }
    
                &.seventh {
                    grid-area: seventh;
                }
    
                &.eighth {
                    grid-area: eighth;
                }
    
                &.ninth {
                    grid-area: ninth;
                }
            }

            &--pic {
                position:absolute;
                /*background-color:red;*/
                width: 12rem;
                height: 12rem;
                top: 2.6rem;
                left: 2rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;

                img {
                    max-width: 100%;
                    height: auto;
                    display: table;
                    margin: 0 auto;
                }

                @media (min-width: $breakpoint-large){
                    width: 9rem;
                    height: 8rem;
                    top: 1.6rem;
                    left: 2rem;
                }

            }

            &--name {
                position:absolute;
                /*background-color:orange;*/
                top:16rem;
                left:1.2rem;
                font-size:1rem;
                font-weight:bold;
                color: $green-products;
                z-index: 10;

                @media (min-width: $breakpoint-large){
                    top:11rem;
                    left:1.2rem;
                    font-size:1rem;
                    z-index: 10;
                }
            }

            &--price {
                position:absolute;
                /*background-color:purple;*/
                top:18rem;
                left:1.2rem;
                font-size:1rem;
                font-weight:bold;
                color: $green-products;

                @media (min-width: $breakpoint-large){
                    top:13rem;
                    left:1.2rem;
                    font-size:1rem;
                }
            }

            &--icons {
                position:absolute;
                background-color: $white;
                // width:10rem;
                // height:2rem;
                top:17.5rem;
                right:1.2rem;
                font-size:1rem;
                font-weight:bold;
                color: $dark-green;
                display:grid;
                grid-auto-flow: column;
                column-gap: 0.1rem;

                .icon-feature {
                    background-repeat:no-repeat;
                    background-size:contain;
                    background-position: center center;
                    width:1.9rem;
                    height:1.2rem;
                }

                .toxicity--false {
                    background-image:url(/images/icons/pet.svg);
                }

                .toxicity--true {
                    background-image:url(/images/icons/toxic.svg);
                }

                .sun--no {
                    background-image:url(/images/icons/no-sun.svg);
                }

                .sun--low {
                    background-image:url(/images/icons/low-sun.svg);
                }

                .sun--high {
                    background-image:url(/images/icons/low-sun.svg);
                }

                .water--regularly {
                    background-image:url(/images/icons/2-drops.svg);
                }

                .water--daily {
                    background-image:url(/images/icons/3-drops.svg);
                }

                .water--rarely {
                    background-image:url(/images/icons/1-drop.svg);
                }

                @media (min-width: $breakpoint-large){
                    // width:7rem;
                    // height:2rem;
                    top:13rem;
                    right:0.8rem;
                    font-size:1rem;
                }
            }

            &:first-child {
                position:relative;

                @media (min-width: $breakpoint-large){
                    width:27.313rem;
                    height:31.875rem; 

                    .results__cards--item--pic {
                        /*background:yellow;*/
                        width: 23.313rem;
                        height: 21.875rem;
                    }

                    .results__cards--item--name {
                        font-size:2.188rem;
                        left: 2rem;
                        width: 13rem;
                        top: 25rem;
                    }

                    .results__cards--item--price {
                        font-size:1.5rem;
                        top: 25.4rem;
                        right: 2rem;
                        text-align: right;
                    }

                    .results__cards--item--icons {
                        // width:10rem;
                        // height:3rem;
                        top:27.8rem;
                        column-gap: 0.3rem;
                        right: 2rem;

                        @media (min-width: $breakpoint-large){
                            .icon-feature {
                                width:3rem;
                                height:2rem;
                            }
                        }

                    }
                    
                } 

                &:before {
                    content: '✨ Staff favorite';
                    position: absolute;
                    z-index: 10;
                    width: 8.6rem;
                    top:1.25rem;
                    height: 2.125rem;
                    background-color: $light-green;
                    padding-left:1.2rem;
                    padding-top:0.5rem;
                    box-sizing: border-box;
                    font-size:0.8rem;
                    font-weight:600;
                    color:$white;
                    -webkit-border-top-right-radius: 25px;
                    -webkit-border-bottom-right-radius: 25px;
                    -moz-border-radius-topright: 25px;
                    -moz-border-radius-bottomright: 25px;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;

                    @media (min-width: $breakpoint-large){
                        width:11.813rem;
                        height:2.688rem;
                        font-size:1.125rem;
                    }

                }
            }


        }

    }

}