body {
    font-family: "Montserrat", sans-serif;
    background-color: $white;
}

.results {
    background-color: $bg-results;
    padding-top:2rem;

    &__pick {
        background-image:url(/images/illustrations/pick.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 4rem;
        padding-bottom: 2rem;
        width: 9.125rem;

        @media (min-width: $breakpoint-large){
            width: 9.875rem;
        }

    }

    &__title {
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 3.063rem;
        margin:0;

        &--list {
            color:$dark-green;
        }

        &--empty {
            color:$gray-title;
        }

    }

    &__text {
        color:$gray-title;
        margin:0;
    }

    &__cards {
        list-style:none;
        padding:0;

        &--item {
            background-color:$white;
            border-radius:5px;
            position:relative;

            &--pic {
                position:absolute;
                background-color:red;
                width: 12rem;
                height: 12rem;
                top: 2.6rem;
                left: 2rem;
            }

            &--name {
                position:absolute;
                background-color:orange;
                top:16rem;
                left:1.2rem;
                font-size:1rem;
                font-weight:bold;
                color: $dark-green;
                z-index: 10;
            }

            &--price {
                position:absolute;
                background-color:purple;
                top:18rem;
                left:1.2rem;
                font-size:1rem;
                font-weight:bold;
                color: $dark-green;
            }

            &--icons {
                position:absolute;
                background-color:pink;
                width:10rem;
                height:2rem;
                top:17.5rem;
                right:1.2rem;
                font-size:1rem;
                font-weight:bold;
                color: $dark-green;
            }

        }

        @media (max-width: $breakpoint-large){

            &--item {
                width:16.125rem;
                height:20rem;

                &:first-child {
                    position:relative;

                    &:before {
                        content: '✨ Staff favorite';
                        position: absolute;
                        z-index: 10;
                        width: 8.6rem;
                        top:1.25rem;
                        height: 2.125rem;
                        background-color: $light-green;
                        padding-left:1.2rem;
                        padding-top:0.5rem;
                        box-sizing: border-box;
                        font-size:0.8rem;
                        font-weight:600;
                        color:$white;
                        -webkit-border-top-right-radius: 25px;
                        -webkit-border-bottom-right-radius: 25px;
                        -moz-border-radius-topright: 25px;
                        -moz-border-radius-bottomright: 25px;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                    }
                }

            }

        }

        @media (min-width: $breakpoint-large){

            &--item {
                width:12.875rem;
                height:15.313rem;

                &:first-child {
                    width:27.313rem;
                    height:31.875rem;
                }

            }

        }

    }

}